{% extends 'base.html.twig' %}

{% block title %}Subject{% endblock %}

{% block body %}
    <h1>Subject</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ subject.id }}</td>
            </tr>
            <tr>
                <th>Title</th>
                <td>{{ subject.title }}</td>
            </tr>
            <tr>
                <th>Content</th>
                <td>{{ subject.content }}</td>
            </tr>
            <tr>
                <th>IsReported</th>
                <td>{{ subject.isReported ? 'Yes' : 'No' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_subject_controller_crud_index') }}">back to list</a>

    <a href="{{ path('app_subject_controller_crud_edit', {'id': subject.id}) }}">edit</a>

    {{ include('subject_controller_crud/_delete_form.html.twig') }}
{% endblock %}
